#menu tr, td
{
border: 1px solid black;
}
.connect
{
font-size: 25px;
text-align: center;
}
table
{
width: 447px;
border-collapse:collapse;
}
#cor
{
}
a 
{
color: green;
}
body
{
 margin-left: 27%;